
<div class="container mt-5">
	<% @articles.each do |article| %>
		<div class="row justify-content-center">
			<div class="card text-bg-dark mb-5 text-center w-75" style="width: 18rem;">
				<div class="card-body">
					<h5><%= link_to article.title, article_path(article), class: "card-title text-info text-decoration-none" %></h5>
					<p class="card-text m-3"><%= article.description %></p>
					<p>Created by <%= link_to article.user.username, user_path(article.user), class: "text-info text-decoration-none"%></p>
					<% if logged_in? && (article.user == current_user || current_user.admin?) %>
						<a><%= link_to 'Edit', edit_article_path(article), class: "btn btn-light" %></a>
						<a><%= link_to 'Delete', article_path(article), class: "btn btn-light", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></a>
					<% end %>
				</div>
				<div class="card-footer  border-info">
					<small>Created <%= time_ago_in_words(article.created_at) %> ago, 
						edited <%= time_ago_in_words(article.updated_at) %> ago</small>
				</div>
			</div>
		</div>
	<% end %>
</div>