<div class="" style="height: 100vh;">
    <div class="row justify-content-center text-center bg-dark p-2">
        <h1 class="text-light"><%= @article.title %></h1>
				<div>
				<%# This line of code iterates all available categories and renders the partial _category.html.erb for each one %>
				<% if @article.categories.any? %>
					<%= render @article.categories %>
				<% end %>
				</div>
    </div>
		<div class="container">
			<div class="mt-2">
					<p class="text-dark"><%= @article.description %></p>
			</div>
			<p>Created by <%= link_to @article.user.username, user_path(@article.user), class: "text-info text-decoration-none" %></p>
		</div>
    <div class="bg-dark p-2">
        <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
            <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-light m-2" %>
            <%= link_to 'Delete', article_path(@article), class: "btn btn-light m-2", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        <% end %>
        <%= link_to 'Return to articles listing', articles_path, class: "btn btn-light m-2" %>
    </div>
</div>
