<%= render 'shared/errors', obj: @user %>
<%# the data: { turbo: false }, solves the above code not displaying - serves via html and not ajax ??%>
<%= form_with(model: @user, data: { turbo: false }, local: true) do |f| %>
	<p>
		<%= f.label :username %><br/>
		<%= f.text_field :username %>
	</p>
	
	<p>
		<%= f.label :email %><br/>
		<%= f.text_field :email %>
	</p>
    
    <p>
		<%= f.label :password %><br/>
		<%= f.password_field :password %>
	</p>

	<p>
		<%= f.submit(@user.new_record? ? "Sign up" : "Update account")  %>
	</p>

<% end %>