<div>
    <h1><%= @user.username %> Profile</h1>
    <h1><%= @user.username %> Profile</h1>
    <h1><%= @user.username %> Profile</h1>
</div>

<div>
    <%= link_to "Edit Profile", edit_user_path(@user) %>
</div>

<h2>Articles</h2>
<%= render 'articles/article' %>


<%= link_to 'Create new article', new_article_path %>