<h1 class="bg-dark text-light text-center p-5 m-0">Categories</h1>



<div class="container mt-5" style="min-height: 80vh;">
	<div class="row ">
		<% @categories.each do |category| %>
			<div class="col-md-6">
				<div class="card text-bg-dark mb-5 text-center">
					<div class="card-body">
						<h2><%= link_to category.name, category_path(category), class: "card-title text-info text-decoration-none" %></h2>
						<br>
						<% if logged_in? && current_user.admin? %>
							<a><%= link_to 'Edit', edit_category_path(category), class: "btn btn-light btn-sm" %></a>
							<a><%= link_to 'Delete', category_path(category), class: "btn btn-light btn-sm", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></a>
						<% end %>
					</div>
					<div class="card-footer border-info">
						<small>Created <%= time_ago_in_words(category.created_at) %> ago, 
							edited <%= time_ago_in_words(category.updated_at) %> ago</small>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	<div class="text-center mb-2">
		<a><%= link_to 'New Category', new_category_path, class: "btn btn-outline-info" %></a>
	</div>
</div>

